.App {
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
}

.board div {
  width: 100px;
  height: 100px;
  background-color: yellow;
  flex: 0 0 30.333333%;
  border: solid black;
}

.App-link {
  color: #61dafb;
}

#x {
  background-color: blue;
}

#X {
  background-color: aquamarine;
}

#o {
  background-color: red;
}

#O {
  background-color: pink;
}